html{
	height: 100%;
}
body{
	background: #f6f6f6;
	font-family: Roboto;
	color: #f6f6f6;
	font-size: 18px;
}
section{
	background:#333333;
	width: 25%;
	height: 300px;
	margin: 0 auto;
	padding: 10px;
}
input{
	padding: 0;
	margin: 0;
	border: none;
}
input:focus{
	outline: none;
}

.zone_recherche {
	margin: 0;
	width: 100%;
	position: relative;
	z-index: 10;
}

.texte_recherche {
	width: 95%;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #333333;
	border-bottom: solid 2px #f6f6f6;
	font-family: arial, verdana, sans-serif;
	font-size: 18px;
	color: #f8f8f8;

}
.item{
	margin-top: 20px;
	border: 2px solid #f6f6f6;
	padding: 25px;
	-webkit-transform:translateY(-75px);
	opacity: 0;
	
}
p{
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.closer{
	display: inline;
	vertical-align: middle;
	float: right;
	clear: both;
	cursor: pointer;
}

.add_btn {
	margin-top: -16px;
	position: absolute;
	top: 50%;
	right: 10px;
	cursor: pointer;
}
.item--added{
	-webkit-transform: translateX(0);
	-webkit-animation: add .6s ;
	-webkit-animation-fill-mode: forwards;
	transition: all .3s ease-out;
}

@-webkit-keyframes add{
	0%{
		-webkit-transform:translateY(-75px);
		opacity: 0;
	}
	30%{
		-webkit-transform:translateY(10px);
		opacity: .7;
	}
	50%{
		-webkit-transform:translateY(0px);
		opacity: .8;
	}
	70%{
		-webkit-transform:translateY(3px);
		opacity: .9;
	}
	
	100%{
		-webkit-transform:translateY(0px);
		opacity: 1;
	}
}

@media (max-width: 640px){

	section{
		width: 90%;
	}
}
.btn--delete{
	-webkit-transform: translateX(0);
	-webkit-animation: delete .6s ;
	-webkit-animation-fill-mode: forwards;
	transition: all .3s ease-out;
}

@-webkit-keyframes delete{
	0%{
		-webkit-transform:translateX(0px);
		opacity: 1;
	}
	35%{
		-webkit-transform:translateX(-20px);
		opacity: 1;
	}
	
	100%{
		-webkit-transform:translateX(25%);
		opacity: 0;
	}
}