html{
	height: 100%;
}
body{
	background: #f6f6f6;
	font-family: Roboto;
	color: #f6f6f6;
	font-size: 18px;
}
section{
	background:#333333;
	width: 25%;
	height: 300px;
	margin: 0 auto;
	padding: 10px;
}
.item{
	border: 2px solid #f6f6f6;
	padding: 25px;
	
}
p{
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.closer{
	display: inline;
	vertical-align: middle;
	float: right;
	clear: both;
	cursor: pointer;
}
.btn--delete{
	-webkit-transform: translateX(0);
	-webkit-animation: delete .6s ;
	-webkit-animation-fill-mode: forwards;
	transition: all .3s ease-out;
}

@-webkit-keyframes delete{
	0%{
		-webkit-transform:translateX(0px);
		opacity: 1;
	}
	35%{
		-webkit-transform:translateX(-20px);
		opacity: 1;
	}
	
	100%{
		-webkit-transform:translateX(25%);
		opacity: 0;
	}
}
@media (max-width: 640px){

	section{
		width: 90%;
	}
}